# OPENAI
OPENAI_API_KEY=your_openai_api_key
OPENAI_MODEL=openai_model # e.g., gpt-3.5-turbo-0125, gpt-4-0125-preview


# AWS
AWS_ACCESS_KEY_ID=your_aws_acess_key_id 
AWS_SECRET_ACCESS_KEY=your_aws_secret_acess_key 
AWS_DEFAULT_REGION=your_aws_region # e.g., us-east-1, ca-central-1

RUNNING_IN="docker" # valid values are local, docker and k8s



# --------- DEVELOPMENT VARIABLES ---------

# PostgreSQL    
POSTGRES_DB=code_executions
DB_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_REPLICATION_PASSWORD=replica

#RabbitMQ
RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USERNAME=guest
RABBITMQ_PASSWORD=guest
